@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#top-bar{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    align-items: center;
}

#top-bar>nav>a{
    text-decoration: none;
    margin: 0 25px;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
}

#top-bar>nav>a:hover{
    text-decoration:underline;
    text-decoration-color: #5243c0;
    text-decoration-thickness: 3px;
    color: black;
}

#top-bar button{
    color: #5243c0;
    background-color: #FED8D8;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
}

#top-bar img{
    width: 120px;
}

.pull-stop{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #5243c0;
}

.article-left h1{
    font-size: 70px;
    margin: 0;
    box-sizing: border-box;
}

.article-left p{
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    
}
.article-left div{
    display: flex;
    align-items: center;
}

.arrow-icon{
    width: fit-content;
    width: 50px;
    height: 50px;
}

.newbuttonsection{
    margin-top: 25px;
    margin-bottom: 50px;
}

.article-left button{
    background-color: #5243c0;
    border: 0;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 4px;
    width: auto;
    height: 50px;
}


main{
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
}

.article-left{
    width: 100%;
    box-sizing: border-box;
    padding-right: 15%;

}

.article-right{
    width: 100%;
    
}

.left-section-image{
    width: 100%;
    
}

#section-one {
    display: flex;

    
}

.table-line-checkbox{
    width: 15%;

}

.table-line-heading{
    width: 35%;
}

.table-line-icon{
    width:15%;
}

.table-line-date{
    width: 25%;
}

.table-line-square{
    width: 10%;
}

.square-design{
    width: 12px;
    height: 8px;
    border-radius: 4px;
    /* background-color:black; */
}

.tables-line{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, .03);
    
    margin: 5px;
    padding: 0px 12px;
    border-radius: 8px;
}

.tables-line:hover{
    background-color: #fff;
    box-shadow: 0 5px 50px #ccc;
}



